.App {
  text-align: center;
  margin: 0 auto;
}

/** navigation bar **/
.navBar {
  width: 1170px;
  margin: 0 auto;
}

/** main-page background **/
.main-bg {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 600px;
  margin: 0 auto;
  padding: 0 7.5%;
}

.main-bg-desc {
  text-align: left;
  padding-top: 8%;
  padding-right: 10%;
}

.main-bg-desc p {
  text-align: left;
  padding: 4% 0;
}

.main-bg img{
  width: 400px;
  height: 580px;
  border-radius: 5%;
  margin-top: 3%;
}

.main-bg-btn {
  margin-right: 3%;
}


/** main page carousel **/
.carousel-container {
  width: 67%;
  margin: 6% auto;
}

.carousel-container img {
  width: 360px;
  padding-right: 5%;
  padding-left: 5%;
}

.carousel-container p {
  font-size: x-large;
  font-weight: 600;
  margin: 2% auto;
}

/** main page categories **/
.main-category {
  margin: 5% auto;
}

.main-category img {
  width: 100%;
  height: 360px;
}

.main-category-title {
  font-size: x-large;
  font-weight: 600;
  margin: 2% auto;
}

/** Product Page **/
.product-page-menu { 
  width: 50%;
  margin: 5% auto;
}

.product-page-menu div{ 
  margin-top: 5%;
  margin-bottom: 5%;
}

.product-page-menu p{
  font-size: xx-large;
  text-align: center;
  color: #353535;
  font-weight: 900;
}

/** DogFood page **/
.spinner {
  margin: 20% auto;
}

.dogFood-title {
  margin-top: 3%;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 2% 5%;
  margin: 0 auto;
}

.dogFood-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.dogFood-card img{
 width: 250px;
 height: 250px;
 margin-top: 2%;
}

.dogFood-card-title {
  height: 8vh;
}

.dogFood-card-content {
  height: 10vh;
}

.dogFood-card-price {
  font-size: larger;
}

@media only screen and (min-width: 1200px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 450px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}